@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico');
body{
	background-color: #222222;
	font-family: 'Pacifico',cursive;
	color: black;
}

.jumbotron{
margin-top: 100px;
}

.home{
	background-image: url(Woodbackground.jpg);
	background-size: cover;
	height: 900px;
	margin-bottom: 10px;
	width: 99%;
	margin-left: 10px;
}

.work{
	background-image: url("IMG_3116.jpg");
	background-size: cover;
	height: 1000px;
	margin-bottom: 10px;
	width: 99%;
	margin-left: 10px;
}

.contact{
	background-image: url("dustin-lee-19666.jpg");
	background-size: cover;
	height: 1000px;
	width: 99%;
	margin-left: 10px;
}

.title1{
	font-family: 'Lobster', cursive;
}

.title2{
	font-family: 'Pacifico',cursive;
}

.btn btn-default{
	font-family: 'Pacifico',cursive;
}

.aboutme{
	background-color:black;
	opacity: .8;
	position: static;
	color: white;
	padding:20px;
	margin-left:3%;
	margin-right: 50%;
	font-family: "Times New Roman", Georgia, Serif;
}
.workTitle{
	padding-top: 5%;
	font-size: 6em;
	text-align: center;
}

.contactTitle{
	padding-top: 5%;
	font-size: 6em;
	text-align: center;

}
